<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
      </ul>

      <div class="navbar-nav ">
        <a class="nav-link" routerLink="/register" >Register</a>
      </div>
      <div class="navbar-nav ">
          <a class="nav-link" routerLink="/login" *ngIf="auth == false">Login</a>
          <a class="nav-link" routerLink="/login" *ngIf="auth == true" (click)="logout()">Logout</a>
      </div>

    </div>
  </div>
</nav>
<div class="container">
  <br>
  <router-outlet></router-outlet>
</div>


